#gnb {
	display: flex;
	justify-content: space-between;
}
.nav-item.active > a {
	color: green !important;
	font-weight: 600;
	text-decoration: underline;
}
.visual_img li {
	position: relative;
	display: inline;
}

.visual_img img {
	width: 414px;
	height: 318px;
}
